{% extends "streams::blank" %}

{% block content %}

    <div class="row top-buffer">

        <div class="col-lg-24">
            {% include "anomaly.module.settings::admin/settings/form/partials/addons" %}
        </div>

    </div>

    <br>

    <div class="row top-buffer">

        <div class="col-lg-24">
            {{ content|raw }}
        </div>

    </div>

{% endblock %}
